@{
	ViewData["Title"] = "Pagina Inicial";
}

<div class="container py-5">

	<div class="text-center mb-5">
		<h	1 class="display-4 fw-bold">
			<i class="bi bi-fire fs-1 text-info"></i> AppTarefas</h	1>
		<p class="lead text-muted">Gerencie suas taferas diárias de uma forma simples e eficiente</p>
		<a asp-controller="Tarefas" asp-action="Index" class="btn btn-info btn-lg mt-03">Ver minhas tarefas</a>
	</div>

	<div class="row justify-content-evenly">

	<div class="col-4 bg-success"> 1 </div>

	<div class="col-4 bg-danger">  2 </div>

	<div class="col-4 bg-warning"> 3 </div>


</div>
