@{
	ViewData["Title"] = "Privacy Policy";
}
<<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i> Sobre Mim</h1>
		<p class="lead text-muted"></p>

		<div class="card mb-5 mx-auto" style="max-width: 350px;">
			<img src="~/img/fotona.png" style="border: 6px solid cyan; border-radius: 10px;" />
			<div class="card-body">
				<h5 class="card-title">Sobre eu</h5>
				<p class="card-text">Olá me chamo Pablo, tenho 17 anos e estudo Desenvolvimento de Sistemas no SENAI em 2025. </p>
				<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
			</div>
		</div>
